:root {
    --wordle-primary-color-000: rgb(139, 97, 41);
    --wordle-primary-color-050: rgb(168, 123, 61);
    --wordle-primary-color-075: rgb(196, 156, 104);
    --wordle-primary-color-080: rgb(212, 174, 123);
    --wordle-primary-color-100: burlywood;
    --wordle-primary-color-200: rgb(243, 212, 172);
    --wordle-primary-color-300: rgb(255, 239, 219);
}

.WordleGame {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /*background-color: var(--wordle-primary-color-100);*/
}

.game {
    display: grid;
    width: fit-content;
    height: fit-content;
}

.board {
    flex-direction: column;
    gap: 10px;
    display: grid;
    width: fit-content;
    height: fit-content;
}

#board.over .cell.empty {
    background-color: var(--wordle-primary-color-080);
}


.cell {
    background-color: var(--wordle-primary-color-300);
    color: white;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    transition: all 150ms ease-in-out;
}

@keyframes myAnimation {
    0%   {transform: scaleY(1)}
    25%  {transform: scaleY(0)}
    50%  {transform: scaleY(1)}
    75%  {transform: scaleY(0)}
    100% {transform: scaleY(1)}
}

.cell.solved{
    background-color: #91ae2b;
    animation-name: myAnimation;
    animation-duration: 1s;
}

.cell.wrong{
    background-color: var(--wordle-primary-color-050);
    color: black;
    /*animation-name: myAnimation;*/
    /*animation-duration: 1s;*/
}
.cell.candid{
    background-color: rgb(219, 163, 9);
    animation-name: myAnimation;
    /*animation-duration: 1s;*/
    /*animation-delay: 0.1s;*/
}
.cell.filled{
    background-color: var(--wordle-primary-color-075);
}
.cell.true{
    background-color: rgb(114, 194, 10);
    animation-name: myAnimation;
    /*animation-duration: 1s;*/
    /*animation-delay: 0.05s;*/
}

#overlay {
    position: absolute;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#nextButton {
    background-color: var(--wordle-primary-color-050);
    color: white;
        border-radius: 4px;
    border: none;
    padding: 5px 15px;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 14px;
    cursor: pointer;
}
#nextButton:hover {
    background-color: var(--wordle-primary-color-000);
    transition: all 200ms ease-in-out;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}