.footer {
    margin-top: auto;
    width: 100%;
    height: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.footerText {
    position: absolute;
    color: white;
    font-size: 1rem;
    z-index: 2;
    pointer-events: none; /* Allow mouse to pass through text to canvas */
}

.footerCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}