.home {
    width: 90%;
    height: 100%;
    display: flex;
    font-family: "Note Demo", monospace;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.name {
    font-size:  3rem;
}

.sub {
    width: 350px;
    font-size: 1.5rem;
    font-family: "Note Demo", monospace;
}

.cursor {
    font-family: "Cascadia Code", monospace;
    font-size: 1rem;
}