/*.link:hover  div {*/
/*    height: 25px;*/
/*}*/

.link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 25px;
}
.active > .line {

    height: 25px;

}
.line {
    width: 2px;
    height: 0px;
        background-color: aqua;
    transition: all 128ms ease-in;
}

.active {
    font-weight: bold;
    font-size: 18px;
}

.link > a {
    transition: all 128ms ease-in;

}