:root {
  font-family: "Cascadia Code", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** {*/
/*  border: #e36578 0.5px solid;*/
/*}*/

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #171717;
  font-family: "Cascadia Code", monospace;
}

body {
  /*overflow-y: scroll;*/
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Cascadia Code", monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
}

a {
  text-decoration: none;
  color: inherit;
}



aside {
  width: 16%;
  min-width: 192px;
  height: 100%;
  /*background-color: #919191;*/
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 32px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
}

header {
  width: 100%;
  height: 60px;
  /*background-color: #a6a6a6;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: calc(100% - 60px);
  display: flex;
  width: 100vw;
  /*flex: 1;*/
  overflow: hidden; /* prevents double scrollbars */
}

main {
  /*width: 100%;*/
  /*height: 100%;*/
  display: flex;
  align-items: start;
  padding:  64px 0 0 0;
  /*padding:  64px 0 0 0;*/
  gap : 64px;
}
main {
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  flex: 1;
}