:root {
  font-family: "Cascadia Code", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** {*/
/*  border: #e36578 0.5px solid;*/
/*}*/

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 20% auto;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

aside {
  /*background-color: #919191;*/
  display: flex;
  align-items: stretch;
  justify-content: start;
  padding-left: 30px;
}
nav {
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
}

header {
  grid-area: 1 / 1 / 1 / 3;
  width: 100%;
  height: 60px;
  /*background-color: #a6a6a6;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: 3 / 1 / 3 / 3;
  width: 100%;
  height: 60px;
  /*background-color: #a6a6a6;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  /*background-color: #c6c6c6;*/
}

.education {
  /*background-color: #a3d5f4;*/

}